<h2>My Heroes</h2>
<ul class="heroes">
    <!-- *ngFor is a repeater directive -->
    <!--  repeats the host element for each element in a list -->
    <!-- (click) is an event binding syntax -->
    <!-- [class.some-class-name] is a class binding syntax -->
    <!-- adds a class to the element if the condition is true -->
    <li *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.selected]="hero === selectedHero">
        <span class="badge">{{ hero.id }}</span> {{ hero.name }}
    </li>
</ul>
<!-- [hero] is the one way property binding from the selectedHero property of the HeroesComponent to the hero property of theHeroDetailComponent -->
<app-hero-detail [hero]="selectedHero"></app-hero-detail>
